<ul class="list-inline">
  <li>
    <ul class="list-group">
      <li class="list-group-item"><%= image_tag @user.image_link, size: "100x100" %></li>
      <li class="list-group-item">
        <b><%= @user.name %></b>
        <% if current_user.has_friend?(@user) %>
          <%= link_to("Unfriend", friendship_path(friend_id: @user), method: :delete, class: "btn btn-danger") %>
        <% elsif current_user == @user %>
        <% else %>
          <%= link_to("Add Friend", friendships_path(friend_id: @user), method: :post, class: "btn btn-primary") %>
        <% end %>
      </li>
    </ul>
</li>
  <li>
    <%= render 'friendships/friends' %>
  </li>
  <li class="pull-right">
    <h3> Posts </h3>
    <hr>
    <% @user.posts.each do |post| %>
        <%= post.body %> | <small><%= time_ago_in_words(post.created_at) %> ago</small>
        <hr>
    <% end %>
  </li>
</ul>

